// @import "_mixin.scss";
@import "_main_variable_gv.scss";
@import "_banner_top.scss";
@import "_input_form.scss";
@import "_normalize.scss";
@import "_style-gv-static-page.scss";

.line-in-min-br {
  border-top: $line-grey-col;
  margin-bottom: 40px;
}

.text-top-in-min {
  @include main-text;
  font-size: 36px;
}

.wrp-padd-in-min {
  padding: 0 16px;
}

.coop-wrp-opt-new {
  z-index: 5;
}

.coop-wrp-opt-new > h4 {
  @extend %text-main;
  @extend %marg-bott;
  font-size: 36px;
  text-align: center;
}

.coop-icon-wrp-opt-new {
  @extend %pos-cent-flex;
  flex-direction: column;
  @extend %marg-bott;
  z-index: 5;
}

.coop-icon-wrp-opt-new > img {
  position: relative;
  top: 7px;
}

.coop-text-opt-new {
  @include box-advantages;
  width: 212px;
  min-height: 125px;
}

.coop-img-wrp-opt-new {
  @extend %pos-cent-marg;
  max-width: 850px;
  display: flex;
  justify-content: space-between;
}

.coop-img-wrp-opt-new > img {
  position: relative;
  top: -50px;
}

.coop-wrp-opt-new > button {
  @extend %pos-cent-marg;
  margin-bottom: 59px;
}

.sows-wrp-opt-new {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 4;
}

.sows-img-in-min > img {
  width: 100%;
  margin-left: auto;
}

.sows-text-opt-new {
  position: relative;
  padding-right: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: right;
}

.sows-img-cerc-opt-new {
  position: absolute;
  margin-right: auto;
}

.sows-text-opt-new > h5 {
  @extend %text-main;
  font-size: 20px;
  @extend %marg-bott;
  text-transform: uppercase;
  z-index: 7;
}

.sows-text-opt-new > p {
  max-width: 546px;
  margin-left: auto;
  @extend %text-main;
  font-size: 18px;
  line-height: 1.4;
  z-index: 5;
}

.sows-text-opt-new > img {
  position: absolute;
  top: 250px;
  z-index: 4;
}

.sows-mob-wrp-opt-new {
  display: none;
}

.sows-text-mob-opt-new {
  max-width: 375px;
  padding: 37px 16px 0 16px;
  @extend %pos-cent-marg;
  font-family: $font-roboto-reg;
  text-align: center;
}

.sows-text-mob-opt-new > h5 {
  margin-bottom: 30px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.sows-text-mob-opt-new > p {
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 1700px) {
  .sows-text-opt-new > img {
    top: 230px;
  }
}

@media (max-width: 1600px) {
  .sows-text-opt-new > img {
    top: 190px;
  }
}

@media (max-width: 1500px) {
  .sows-text-opt-new > img {
    top: 100px;
  }
}

@media (max-width: 1450px) {
  .sows-text-opt-new > img {
    top: 50px;
  }
}

@media (max-width: 1300px) {
  .sows-wrp-opt-new {
    padding-left: 16px;
  }
  .sows-text-opt-new > img {
    display: none;
  }
}

@media (max-width: 1034px) {
  .sows-wrp-opt-new {
    display: none;
  }
  .sows-mob-wrp-opt-new {
    margin-bottom: 30px;
    display: block;
  }
  .coop-img-wrp-opt-new > img {
    display: none;
  }
  .wrp-advantages-br {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media (max-width: 850px) {
  .res-text-in-min > p {
    font-size: 18px;
  }
  .coop-img-wrp-opt-new {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (max-width: 830px) {
  .sale-btm-opt-new {
    margin-left: auto;
    margin-bottom: 55px;
  }
  .coop-wrp-opt-new > button {
    margin-bottom: 30px;
  }
  .res-text-in-min {
    padding-left: 0;
    text-align: center;
  }
  .text-main-br {
    padding: 0 16px;
  }
}

@media (max-width: 423px) {
  .coop-img-wrp-opt-new > img {
    margin-bottom: 16px;
    display: flex;
    top: auto;
    transform: rotate(90deg);
  }
  .coop-img-wrp-opt-new {
    flex-direction: column;
  }
  .coop-icon-wrp-opt-new {
    margin-bottom: 16px;
  }
}
